@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
body {  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-cont{
  background: url(./assets/loginBG.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 90vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginbox{
  background-color: white;
  width: 400px;
  height: 380px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: rgba(71, 71, 71, 0.391) 0px 0px 20px;
}
.login-cont h1{
  color: rgb(106, 106, 106);
  text-align: center;
  font-size: 18px;
  font-weight: 500;

  background-color: rgb(240, 240, 240);
  padding: 25px 0px;
  border-radius: 15px 15px 0px 0px;
}
.login-cont ul{
  height: 270px;
  list-style: none;  
  margin: auto;
  overflow: auto;
}
.login-cont ul::-webkit-scrollbar {
  width: 3px;
  margin-right: 4px;
}
.login-cont ul::-webkit-scrollbar-thumb {
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  margin-right: 4px;
}
.login-cont ul li{
  width: 80%;
  margin: auto;
  padding: 7px 0px;
  border-bottom: solid 1px rgb(194, 194, 194);
  border-radius: 1px;
}
.login-cont ul li a{
  color: rgb(104, 104, 104);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.login-cont ul li:hover{
  cursor: pointer;
}
.login-cont ul li img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
}

/* ------------------nav----------------- */

nav{
  width: 100%; 
  padding: 13px 0px;
  border-bottom: solid 1px rgb(196, 196, 196);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav>div:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h3{
  font-weight: 500;
  color: rgb(65, 65, 65);
}
.current-user>img{
  width: 30px;
  height: 30px;
  margin: 0px 10px;
  border-radius: 50%;
}
.current-user span{
  color: rgb(65, 65, 65);
}
.current-user:hover{
cursor: pointer;
}
.popup{
  z-index: 1000;
  position: absolute;
  top: 80px;
  right: 150px;

  background-color: white;
  width: 210px;
  height: auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(63, 63, 63, 0.384) 0px 0px 20px;
}
.popup>img{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 3px auto;
}
.popup h3{
  color: rgb(58, 58, 58);
  font-size: 14px;
  text-align: center;
  margin-bottom: 3px;
}
.popup>p{
  color: rgb(194, 194, 194);
  text-align: center;
  font-size: 11px;
  margin-bottom: 6px;
}
.other-users a{
  text-decoration: none;
  border-top: solid 1px rgb(211, 211, 211);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-users a img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0px 4px;
}
.other-users p{
  color: rgb(114, 114, 114);
  text-align: center;
  font-size: 11px;
}

.popup button{
  display: block;
  background-color: #D55151;
  padding: 5px 10px;
  margin:  10px auto;
  border: solid 1px #D55151;
  border-radius: 20px;

  font-size: 12px;
  font-weight: 400;
  color: white;
}
.popup button:hover{
  background-color: white;
  color: #D55151;
}





/* --------------side-cont------------- */
.side-cont{
  background: linear-gradient(#395BC9 , #6039C9);
  width: 220px;
  height: 100%;
  border-radius: 20px; 
  display: flex;
  align-items: center;
  position: relative;
}
.side-cont ul{
  list-style: none;
  width: 100%;
}
.side-cont ul li{
  width: 80%;
  margin: 5px auto;
  padding: 15px 0px;
  border-bottom: solid 1px rgba(214, 214, 214, 0.466);
}
.side-cont ul li:last-child{
  border: none;
}
.side-cont ul li a{
  display: block;
  color: white;
  text-decoration: none;
  margin: auto;
  font-weight: 400;
}
.pointer{
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: -7%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}










/* ----------comming soon---------------  */
.empty-page{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-page h1{
  color: rgb(207, 207, 207);
  font-size: 80px;
  letter-spacing: 10px;
}

/* ------------home------------------- */

.home-cont{
  width: 100vw;
  height: 100vh;
  padding: 25px 20px;
  /* background-color: rgb(243, 243, 243); */

  display: flex;
}
.home-cont>div:last-child{
  width: 100%;
  padding: 0px 30px;
}

/* -----------------dashboard-------------- */

.user-detail{
  width: 100%;
  height: auto;
  padding: 10px 0px;
  display: flex;
}
.c1{
  width: 35%;
}
.c1 img{
  display: block;
  width: 130px;
  height: 130px;
  margin: 20px auto 10px auto;
  border-radius: 50%;
}
.c1 h2{
  color: rgb(71, 71, 71);
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
.details{
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 10px;
}
.details span:nth-child(2n+1){
  display: block;
  text-align: right;
  color: rgb(153, 152, 152);
}
.details span:nth-child(2n){
  display: block;
  text-align: left;
  margin-left: 15px;
  color: rgb(70, 70, 70);
  font-weight:500;
}
hr{
  width: 70%;
  border: none;
  border-bottom: solid 1px rgb(211, 211, 211);
  margin: 10px auto;
}
.company-details h2{
  font-size: 17px;
  font-weight: 500;
  color: rgb(153, 152, 152);
}
.company-details div{
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 10px;
}
.company-details div span:nth-child(2n+1){
  display: block;
  text-align: right;
  color: rgb(153, 152, 152);
}
.company-details div span:nth-child(2n){
  display: block;
  text-align: left;
  margin-left: 15px;
  color: rgb(70, 70, 70);
  font-weight:500;
}

.verticle-divider{
  width: 2px;
  height: 80;
  background-color: rgb(211, 211, 211);
  margin: 20px 30px;
}
.c2 h2{
  font-size: 17px;
  font-weight: 500;
  color: rgb(153, 152, 152);
}
.address-details{
  margin: 15px 0px;
}
.address-details div{
  width: 300px;
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 10px;
}
.address-details div span:nth-child(2n+1){
  display: block;
  text-align: right;
  color: rgb(153, 152, 152);
}
.address-details div span:nth-child(2n){
  display: block;
  text-align: left;
  margin-left: 15px;
  color: rgb(70, 70, 70);
  font-weight:500;
}

.area-map img{
  width: 500px;
  height: 280px;
  margin-left: 50px;
  border-radius: 13px;
  filter: invert(0.03);
}
.area-map p{
  color: rgb(153, 152, 152) ;
  font-size: 13px;
  text-align: right;
}
.area-map p span{
  font-weight: 500;
  color: rgb(66, 66, 66);
  margin-right: 10px;
}



/*-------------------chatbox---------------  */


.chats{
  position: absolute;
  bottom: 5px;
  right: 140px;
}
.chathead{
  background-color: #3466C8;
  width: 170px;
  padding: 8px;
  padding-bottom: 5px;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.chathead button{
  color: white;
  font-size: 18px;
  background-color: transparent;
  border: none;
}
.chats ul{
  background-color: white;
  list-style: none;
  width: 100%;
  height: 260px;
  border: solid 1px #3466C8;
  border-right: none;
  overflow: scroll;
}
.chats ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 7px;
}
.chats ul li:hover{
  cursor:default ;
}

.chats ul li div{
  display: flex;
  align-items: center;
  font-size: 10px;
}

.chats ul li div img{
  width: 25px;
  height: 25px;
  margin: 0px 7px;
  border-radius: 50%;
}
.chats ul li span{
  width: 7px;
  height: 7px;
  border-radius: 50%;
}


.chats ul::-webkit-scrollbar {
  width: 3px;
  margin-right: 4px;
}
.chats ul::-webkit-scrollbar-thumb {
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  margin-right: 4px;
}


/*-------------------messagebox---------------  */

.messagebox{
  position: absolute;
  right: 350px;
  bottom: 5px;
  width: 200px;
}
.message-head{
  background-color: #3466C8;
  padding: 8px;
  padding-bottom: 5px;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 10px;
}
.message-head img{
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
.message-head div:first-child{
  display: flex;
  align-items: center;
}
.message-head p{
  margin-left:4px;
  width: 80px;
}
.message-head button{
  background-color: transparent;
  color: white;
  border: none;
  font-size: 18px;
}
.message-interface{
  width: 100%;
  height: 190px;
  background-color: white;
  padding: 5px 5px 1px 5px;
  border: solid 1px #3466C8;
  overflow: scroll;
}
.left-chat{
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.right-chat{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}


recevied{
  display: block;
  background-color: rgb(244, 244, 244);
  padding: 8px 4px;
  border-radius: 4px;
  font-size: 11px;
  width: max-content;
  /* min-width: 30px; */
  /* max-width: 100px; */
  margin: 4px 0pc;
}
me{
  display: block;
  background-color: rgb(244, 244, 244);
  padding: 8px 4px;
  border-radius: 4px;
  font-size: 11px;
  width: max-content;
  max-width: 100px;
  margin: 4px 0px;
}

.message-interface::-webkit-scrollbar {
  width: 3px;
  margin-right: 4px;
}
.message-interface::-webkit-scrollbar-thumb {
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  margin-right: 4px;
}

.typer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: solid 1px rgb(211, 211, 211);
}
.typer input{
  background-color: white;
  width: 170px;
  padding: 5px;
  border: solid 1px transparent;
}
.typer input:focus{
  border: solid 1px rgb(211, 211, 211);
  outline: none;
}

.typer button{
  background-color: white;
  width: 30px;  
  border: none;
  text-align: center;
}
.typer button i{
  color: #3466C8;
}